body,
html {
	background: url(sky.jpeg) no-repeat center center fixed;
	background-color: cadetblue;
	width: 100%;
	height: 100%;
	font-family: Poppins, sans-serif;
}


h1 {
	font-size: 4rem;
	letter-spacing: 20px;
	font-weight: bold;
	
}

.buffer {
	height: 150px;
}

.btn {
	text-align: center;
}

.btn-md {
	padding: 2rem 6rem;
	border-radius: 3rem;
}

.btn-primary {
	background-color: cadetblue;
	border-color: cadetblue;
}

.btn.btn-primary:hover {
	background-color: dodgerblue;
	border-color: dodgerblue;
	color: black;

}

.btn.btn-primary:active {
	background-color: limegreen;
	border-color: limegreen;
}

